* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato';
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    height: 100vh;
}
.slider-wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    max-width: 800px;
    height: 400px;
}
.slider-wrapper .images {
    height: 100%;
    flex-basis: 80%;
}
.slider-wrapper .images img {
    display: none;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.slider-wrapper .images img.active {
    display: inline-block;
}
.prev, .next {
    flex-basis: 10%;
    cursor: pointer;
    text-align: center;
}
.prev i, .next i {
    color: lightgray;
    font-size: 40px;
    vertical-align: middle;
    transition: 0.3s ease-in-out;
}
.prev i:hover, .next i:hover {
    color: #565a5c;
}
.nav {
    flex-basis: 100%;
    width: 200px;
    padding: 20px;
    text-align: center;
}
.nav > i {
    margin: 0 10px;
    cursor: pointer;
    color: lightgray;
}
.nav > i.active {
    color: rgba(0,0,0,.7);
}
